table,td,th{
    border:1px solid black;
}

table{
    border-collapse: collapse;
    width:100%;
}
th,td{
    padding: 2px;
    text-align: center;
}
tr:nth-child(odd){
    background-color: #e0e0e0;
}
th{
    background-color: white;
}

